<%- include('./header.ejs',{type:'signin'}) %>

<div>
    <form action="">
        用户名：<input type="text" name="name">
        密码：<input type="password" name="password">
        <input type="button" value="确定">
    </form>
</div>